/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #eaebed !important;
}

.sticky-button {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 15px 0; /* Espaciado interno */
  text-align: center;
  z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
}
.sticky-button button {
  background-color: #01A7C2;
  color: white;
}
.width-100 {
  width: 100%;
}
