.cursive {
  font-family: cursive;
  font-size: 60px;
  font-weight: lighter;
}

h1 {
  color: #006989;
}

mat-icon {
  vertical-align: middle;
}

span {
  font-weight: bold;
}

mat-label {
  display: inline-block;
}
