<div class="row justify-content-center padding-top-bottom-15">
  <div class="col-lg-10 col-md-11 col-11 container-fluid">
    <div class="mt-5 d-flex justify-content-center">
      <h1 class="cursive">DeliverEat!</h1>
    </div>

    <mat-card class="mat-elevation-z8">
      <form [formGroup]="form" class="row wrap justify-content-center g-4 m-5">
        <div class="col-12 col-md-8">
          <mat-form-field appearance="outline" class="width-100" color="primary">
            <mat-label>Describí el producto que buscas</mat-label>
            <textarea matInput autocomplete="off" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4">
          <div class="row flex-column justify-content-between">
            <div class="col-12 text-center my-2">
                ¿Es necesario pagar por el producto?<mat-slide-toggle class="mat-slide-toggle-large" (change)="togglePaymentRequired()" [checked]="isAmmountRequired" color="primary"></mat-slide-toggle>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline" class="width-100" color="primary">
              <mat-label>Monto</mat-label>
              <input matInput autocomplete="off" formControlName="ammount" />
            </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 my-2">
          <mat-form-field appearance="outline" class="width-100" color="primary">
            <mat-label>Seleccionar una imagen</mat-label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
          </mat-form-field>
          <div class="image-preview" [style.background-image]="imageUrl ? 'url(' + imageUrl + ')' : 'none'"></div>
        </div>
      </form>
    </mat-card>

    <div class="row sticky-button justify-content-center mx-0 px-0">
      <button class="col-11 btn btn-lg">CONFIRMAR MI PEDIDO</button>
    </div>
  </div>
</div>
