<div class="row justify-content-center padding-top-bottom-15">
    <div class="col-lg-8 col-md-11 col-11 container-fluid">
      <div class="mt-5 d-flex justify-content-center">
        <h1 class="cursive">DeliverEat!</h1>
      </div>
  
      <mat-card class="mat-elevation-z8">
        <div class="row ml-4 mt-4 px-4">
          <h2 class="px-5 mb-0 pb-0">¿Como lo pagas?</h2>
        </div>
        <form [formGroup]="form" class="row wrap justify-content-center g-4 m-5 mt-2">
          <div class="col-12 d-flex">
            <div class="col-4">
              <mat-slide-toggle (change)="onTypePaymentChange()" formControlName="isCash">Pago en efectivo</mat-slide-toggle>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <mat-form-field class="width-100" color="primary">
                <mat-label>Monto</mat-label>
                <input matInput autocomplete="off" mask="0*.00" formControlName="ammountCash" />
                <mat-error *ngIf="productData && ammountCash.hasError('montoInvalido') && ammountCash.touched">Monto menor al indicado</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-5" *ngIf="productData">
              <mat-label><span>Tu producto: </span>{{productData.description}}</mat-label>
              <mat-label><span>Monto del producto: </span>{{productData.ammount}}</mat-label>
              <mat-label><span>Monto del envio: </span>{{productData.deliveryAmount}}</mat-label>
              <mat-label><span>Total: </span>{{productData.deliveryAmount + productData.ammount}}</mat-label>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Número de la tarjeta</mat-label>
              <input matInput autocomplete="off" formControlName="cardNumber" mask="0000 0000 0000 0000" />
              <mat-error *ngIf="cardNumber.hasError('tarjetaInvalida') && cardNumber.touched">Tarjeta invalida</mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Número de seguridad</mat-label>
              <input matInput autocomplete="off" formControlName="cardSecurity" mask="000" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-8">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Nombre del titular</mat-label>
              <input matInput autocomplete="off" formControlName="fullName" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Vencimiento</mat-label>
              <input matInput autocomplete="off" formControlName="expiration" mask="00/00" />
              <mat-error *ngIf="expiration.hasError('formatoInvalido') && expiration.touched">
                El formato de vencimiento es inválido.
              </mat-error>
              <mat-error *ngIf="expiration.hasError('vencida') && expiration.touched">
                Esta vencida.
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card>
      <div class="row sticky-button justify-content-center mx-0 px-0">
        <button (click)="onPaymentSubmit()" [disabled]="!form.valid" class="btn btn-lg">CONFIRMAR MI FORMA DE PAGO</button>
      </div>
    </div>
  </div>
  