<div class="row justify-content-center padding-top-bottom-15">
    <div class="col-lg-8 col-md-11 col-11 container-fluid">
      <div class="mt-5 d-flex justify-content-center">
        <h1 class="cursive">DeliverEat!</h1>
      </div>
  
      <mat-card class="mat-elevation-z8">
        <div class="row ml-4 mt-4 px-4">
          <h2 class="px-5 mb-0 pb-0">¿Como lo pagas?</h2>
        </div>
        <form [formGroup]="form" class="row wrap justify-content-center g-4 m-5 mt-2">
          <div class="col-12 col-md-8">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Número de la tarjeta</mat-label>
              <input matInput autocomplete="off" formControlName="cardNumber" mask="0000 0000 0000 0000" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Número de seguridad</mat-label>
              <input matInput autocomplete="off" formControlName="cardSecurity" mask="000" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-8">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Nombre del titular</mat-label>
              <input matInput autocomplete="off" formControlName="fullName" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Vencimiento</mat-label>
              <input matInput autocomplete="off" formControlName="expiration" mask="00/00" />
            </mat-form-field>
          </div>
        </form>
      </mat-card>
  
      <div class="row sticky-button justify-content-center mx-0 px-0">
        <button class="btn btn-lg">CONFIRMAR MI FORMA DE PAGO</button>
      </div>
    </div>
  </div>
  