<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 m-6 mouse-hover" (click)="onDeliverEatClick()">
      <mat-card class="mat-elevation-z12 py-4">
        <div class="text-center">
          <mat-icon class="text-danger">local_pizza</mat-icon>
          <h2 class="font-weight-bold mt-2 text-dark">Ir a DeliverEat!</h2>
          <p class="text-muted">Aquí podra registrar pedidos</p>
        </div>
      </mat-card>
    </div>
    <!-- <div class="col-12 col-md-6 col-lg-4 m-6 mouse-hover">
      <mat-card class="mat-elevation-z12 py-4">
        <div class="text-center">
          <mat-icon class="text-danger">local_pizza</mat-icon>
          <h2 class="font-weight-bold mt-2 text-dark">Ir a DeliverEat!</h2>
          <p class="text-muted">Aquí podra registrar pedidos</p>
        </div>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 m-6 mouse-hover">
      <mat-card class="mat-elevation-z12 py-4">
        <div class="text-center">
          <mat-icon class="text-danger">local_pizza</mat-icon>
          <h2 class="font-weight-bold mt-2 text-dark">Ir a DeliverEat!</h2>
          <p class="text-muted">Aquí podra registrar pedidos</p>
        </div>
      </mat-card>
    </div> -->
  </div>
</div>
