<div class="row justify-content-center padding-top-bottom-15">
    <div class="col-lg-8 col-md-11 col-11 container-fluid">
      <div class="mt-5 d-flex justify-content-center">
        <h1 class="cursive">DeliverEat!</h1>
      </div>
  
      <mat-card class="mat-elevation-z8">
        <div class="row ml-4 mt-4 px-4">
          <h2 class="px-5 mb-0 pb-0">¿Donde lo buscamos?</h2>
        </div>
        <form [formGroup]="form" class="row wrap justify-content-center g-4 m-5 mt-2">
          <div class="col-12 col-md-8 col-lg-6">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Calle</mat-label>
              <input matInput autocomplete="off" formControlName="adress" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-8 col-lg-3">
            <mat-form-field class="width-100" color="primary">
              <mat-label>N°</mat-label>
              <input matInput type="number" autocomplete="off" formControlName="number" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-8 col-lg-3">
            <mat-form-field class="width-100" color="primary">
              <mat-label>Ciudad</mat-label>
              <mat-select placeholder="Seleccionar" formControlName="city" id="city">
                <mat-option *ngFor="let item of citys" [value]="item">
                  {{ item.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </mat-card>
  
      <div class="row sticky-button justify-content-center mx-0 px-0">
        <button (click)="onBusinessAdressSubmit()" [disabled]="!form.valid" class="btn btn-lg">CONFIRMAR DIRECCIÓN DE RETIRO</button>
      </div>
    </div>
  </div>
  